{% extends 'partials/body.html' %}
{% load bootstrap_icons %}

{% block contenido %}
    <!-- Cuerpo (Tabla de 7 columnas y campo de búsqueda) -->
    <div class="container mt-5">
        <div class="row mb-4"> <!-- Agregamos un margen inferior (mb-4) a esta fila -->
            <div class="col-md-12">
                <h2 class="text-center">Bodegas</h2>
            </div>
        </div>
        <div class="row mb-4">

            <div class="col-md-7">
            </div>
            <div class="col-md-1">
                <a class="btn btn-outline-secondary btn-block float-end" type="button" id="button-addon2" href="{% url 'bodegas_crear' %}">Nuevo</a>
            </div>
        </div>

        <table class="table table-bordered w-100">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for bodega in bodegas %}
            {% if bodega.estado %}
                <tr>
                    <td>{{ bodega.nombre_bodega }} </td>
                    <td>{{ bodega.descripcion_bodega}}</td>
                    <td>{{ bodega.estado }}</td>
                    <td>
                  
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ usuario.id }}">{% bs_icon 'trash' %}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{ usuario.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Esta seguro de eliminar el {{ titulo }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">una vez eliminado no hay marcha atras</div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a href="#" class="btn btn-primary">Eliminar!</a>
                              </div>
                            </div>
                          </div>
                        </div>

                    <a href="#" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">{% bs_icon 'pencil' %}</a>
                </td>

                </tr>
                {% endif %}
            {% endfor %}
        </tbody> 
        </table>
    </div>

{% endblock contenido %}